<form action="/contact" method=POST>
    <label>Email</label>
    <input type="text" name="email" value="Email">
    <br><br>
    <label>Message Me</label>
    <br>
    <textarea name="message" rows="4" cols="30" wrap=virtual>Compliment my site! We need validation</textarea>
    <br><br>
    <input type="submit" value="BING">
</form>