<!-- <form id="contactform" action="/contact" method=POST>	
	<fieldset>
		<legend>Personal information:</legend>
		<div class="formin">
				<label>First Name:</label>
				<input type="text" name="firstname"  id="firstname" wrap=virtual>
		</div>
		<div class="formin">
				<label>Last Name:</label>
				<input type="text" name="lastname" id="lastname" wrap=virtual>
		</div>
		<div class="formin">
		    <label>Email:</label>
		    <input type="text" name="email" cols="30" wrap=virtual>
		</div>
	  <div class="formin">
	  	<label>Contact Us:</label>
		    <textarea name="message" id="message" rows="25" cols="60" wrap=virtual>Compliment my site! We need validation</textarea>
	   </div>
	   <div class="buttonform">
	    <input type="submit" value="Send Your Message">
	   </div>
  </fieldset>
</form> -->

  