<div id="homeh2">
	<h2>
		"Our service is not for everyone. Our coffees is not for everyone. For our exclusive clientele, a car service is more relaxing, tranquil, luxurious than any other, coffees that are more rare, more exclusive, for those that are seeking the ultimate experience.”
	</h2>
</div>