<html>
	<head>
		<title>BCNC</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="http://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Wire+One" rel="stylesheet" type="text/css">
	</head>
	<body> 
	 	<div class="container">

		<header>
			<img class="left_logo" src="../BCNC-logo.png">
			<img class="logo" src="../logo.png">
		</header>

		<div class="whiteSpace">
		</div>
		<div class="nav">
			<div class="home Button">
				<a href="#home">HOME</a>
			</div>
			<div class="about Button">
				<a href="#about">ABOUT</a>
			</div>
			<div class="services Button">
				<a href="#services">SERVICES</a>
			</div>
			<div class="contact Button">
				<a href="#contact">CONTACT</a>
			</div>
		</div>

		<div class="sideNav">
			<ul>
				<li>
					<a href="#home"><img class ="homeIcon" src="home.png" width="30" height="auto"></a>
				</li>
				<li>
					<a href="#about"><img class="homeIcon" src="about.png" width="30" height="auto"></a>
				</li>
				<li>
					<a  href="#services"><img class="servicesIcon" src="services.png" width="35" height="auto"></a>
				</li>
				<li>
					<a  href="#contact"><img class="contactIcon" src="contact.png" width="30" height="auto"></a>
				</li>
			</ul>
		</div>

		<section id="home" data-type="background" data-speed="10"> 	
	     <article>
	     	<div class="inner_wrapper">
		     	<h2>we hit the road, so you don't have to.</h2>
	     			<p id="hit">
 					Our service is not for everyone. Our coffees are not for everyone. Our exclusive clientele enjoy a car service above any other. For those looking to start their day in ultimate luxury look no further than Black Car & Coffee.
	     			</p>
	     		</div>
	     </article>
    </section>
		<section id="about" data-type="background" data-speed="10">     
	    <article>
	    	<div class="inner_wrapper">
   				<h2>what we do.</h2>
					<p id="hit">
				At Black Car & Coffee expect the finest coffee and breakfast, all within our doors as we take you to yours.  Every black car is equipped with secure, encrypted mobile WIFI, food and beverages of choice, and anything else you desire during your ride with one of our highly trained chauffeurs.  Black Car & Coffee will get you to where you need to be, on time and in total comfort.  Just ask us, and you will receive.
				</p>
					<p><br></p>
					<h2>why we do it.</h2>
   				<p id="hit">
   				We believe that in order to be your best you must be well prepared, and having the right environment is essential to success.  You bring your best--we will take care of the rest!  
   				</p>
	     	</div>
	    </article>
    </section> 
		<section id="services" data-type="background" data-speed="10">
	     <article>
	     		<div class="inner_wrapper">
	     			<h2>ethically sourced.  locally prepared.  eat your competition.</h2>
	     			<p id="hit">
	     				We are proud to offer Kopi Luwak Black Ivory Coffee, direct from our ethical suppliers of hand-gathered civet coffee on the islands of Bali and Sulawesi in the Indonesian Archipelago.  We consider this to be of unmatched quality, and are confident you will agree.
	     			</p>
	     			<p><br></p>
	     			<p id="hit">
	     				Every breakfast we offer is created and prepared by a master chef, using only the freshest, seasonal ingredients.  Please inquire below about our menu for current offerings.
	     			</p>
	     		
	     			<img class="menu" src="menu.png">
	     			<h2>menu</h2>
	     		</div>
	    	</article>
			</section>
			<section id="contact" data-type="background" data-speed="10">
		    <article>
		     	<div class="inner_wrapper">
			     	<h2>we'll get you there.  the rest is history.</h2>
			   		<form id="contactform" action="/contact" method=POST>	
						<fieldset>
							<legend>Personal information:</legend>
							<div class="formin">
								<img id="watermark" src="watermark.png">
								<label>First Name:</label>
								<input class="fill" type="text" name="firstname"  id="firstname" wrap=virtual>
							</div>
							<div class="formin">
								<label>Last Name:</label>
								<input class="fill" type="text" name="lastname" id="lastname" wrap=virtual>
							</div>
							<div class="formin">
							    <label>Email:</label>
							    <input class="fill" type="text" name="email" cols="30" wrap=virtual>
							</div>
						  <div class="formin">
						  	<label>Contact Us:</label>
							<textarea name="message" id="message" rows="25" cols="60" wrap=virtual>For reservations and other requests please let us know here--we'd love to hear from you!</textarea>
						   </div>
						   <input class="submitbutton" type="image" src="contactbutton.png" alt="Submit" width="70" height="auto">
					  </fieldset>
					</form>		
		     	</div>
		    </article>
			</section>
			<footer>
				<div class="footer_sponsors">
					<img class="sponsor" src="times.png">
					<img class="sponsor" src="jones.png">
					<img class="sponsor" src="tesla1.png">
					<img class="sponsor" src="forbes.png">
					<img class="sponsor" src="wired.png">
				</div>
				<img class="footer_logo" src="../footer_logo.png">
			</footer>
		</div> 

		<%= yield %>

		<script type="text/javascript" src="../jquery-2.1.3.js"></script>
		<script type="text/javascript" src="../main.js"></script>
	</body>
</html>