<html>
<head>
	<title>BCNC</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>
<body> 
 <div class = "container">

		<header>
			<img id="watermark" src="../watermark.png">
			<img class = "left_logo" src="../BCNC-logo.png">
			<img class = "logo" src="../logo.png">
			<!-- <h1 class = "bannerText">Black Car &amp Coffee</h1>	 -->
		</header>

		<div class = "whiteSpace">
		</div>

		<div class = "nav">
			<div class = "home Button">
				<a href="/">HOME</a>
			</div>
			<div class = "about Button">
				<a href="/about">ABOUT</a>
			</div>
			<div class = "services Button">
				<a href="/services">SERVICES</a>
			</div>
			<div class = "contact Button">
				<a href="/contact">CONTACT</a>
			</div>
		</div>

		<section id="home" data-type="background" data-speed="10"> 	
	     <article>
	     	<div class="inner_wrapper">
		     	<h2>we hit the road, so you don't have to.</h2>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     		</div>
	     </article>
    </section>

		<section id="about" data-type="background" data-speed="10">     
	    <article>
	    	<div class="inner_wrapper">
		     	<h2>what we do.</h2>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     		</div>
	    </article>
    </section> 

		<section id="services" data-type="background" data-speed="10">
	     <article>
	     		<div class="inner_wrapper">
		     	<h2>locally sourced. locally made.  eat up the competition.</h2>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     		</div>
	     </article>
		</section>

		<section id="contact" data-type="background" data-speed="10">
	     <article>
	     		<div class="inner_wrapper">
		     	<h2>we'll get you there.  the rest is history.</h2>
	     			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum quidem placeat doloremque molestias fugiat perspiciatis quasi, quis mollitia saepe. Ullam sequi ipsa veniam, odit nesciunt blanditiis iusto at quod molestiae.
	     			</p>
	     		</div>
	     </article>
		</section>

		<footer>
			<img class="footer_logo" src="../footer_logo.png">
		</footer>
	</div> 

	<%= yield %>
	<script type="text/javascript" src="../jquery-2.1.3.js"></script>
	<script type="text/javascript" src="../main.js"></script>
</body>
</html>