<html>
<head>
	<title>BCNC</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class = "container">
		<div class = "banner">
			<img class = "logo" src="bcnc.png">
			<h1 class = "bannerText">Black Car and Coffee</h1>
			
		</div>
		<div class = "whiteSpace">
		</div>
		<div class = "nav">
			<div class = "home Button">
				<a href="/">HOME</a>
			</div>
			<div class = "about Button">
				<a href="/about">ABOUT</a>
			</div>
			<div class = "services Button">
				<a href="/services">SERVICES</a>
			</div>
			<div class = "contact Button">
				<a href="/contact">CONTACT</a>
			</div>
		</div>
		<div class = "main">
			<img class = "back" src="001.jpg">
		</div>
	</div>

	<%= yield %>
</body>
</html>