body{
	margin:0px 0px;
/*	background-image: url("01.jpg");
	background-repeat: no-repeat;*/
}

h1{
	font-family: 'Slabo 27px', serif;
	font-weight:100;
	font-size: 2.4em;
	margin-bottom: 0px;
	padding-top: 25px;
}

h2 {
	color: black;
	font-family: 'Slabo 13px', serif;
	/*font-family: 'Wire One', sans-serif;*/
	/*text-shadow: 1px 1px 0px #ffffff;*/
	font-size: 1.8em;
	margin-bottom: 50px;
}

p {
	color: white;
	font-family: 'Slabo 13px', serif;
	/*font-family: 'Wire One', sans-serif;*/
	/*text-shadow: 1px 0px 0px #000000;*/
	font-size: 1.4em;
	line-height: 1.6em;
}

header { 
	background-color: #000000;
	color:#FFFFFF;
	height:100px;
	padding-left:18%;
	opacity: .85;
/*	position: fixed;*/
}

.whiteSpace{
	/*background-color: rgba(255, 255, 255, 0);*/
	height:5px;

}
.sideNav{
	height:400px;
	width:100px;
	top:45%;
	left:100%;
	margin-left: -100px;
	position:fixed;
	z-index: 10;
}
ul li{
	list-style: none;
}

.nav{ 
	background-color: #000000;
	height:20px;
	text-align: right;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 5%;
	opacity: .85;
	position: relative;
	z-index: 2;
/*	-webkit-box-shadow: 10px 0px 10px rgba(0,0,0,0.8);
  box-shadow: 10px 0px 10px rgba(0,0,0,0.8);*/
}

.left_logo {
	position: absolute;
	top: -10px;
	left: 150px;
	height: 120px;

}

.logo{
	float:right;
	clear:right;
	padding-right:5.7%;
	padding-top:15px;
	height:75px;
	width:auto;
	z-index:1;
}

.footer_logo {
	float: right;
/*	padding-top: 20px;
	padding-right:5%;*/
	height: 50px;
	position: absolute;
	bottom: 10px;
	right: 60px;
}

.footer_sponsors {
	display: block;
	text-align: center; 
}

.sponsor {
		padding-left: 75px;
		padding-top: 20px;
		width: 100px;
		height: 30px;
}

.sponsor:nth-child(1) {
	padding-left: 0px;
	width: 130px;
}

.jre_div {
	display: inline-block;
	text-align: center;
}

.jre {
		width: 50px;
		height: 50px;
}


.container {
	position: relative;
}

#watermark {
	/*position: fixed;
	top: 12px;
	right: 60px;
	height: 70px;*/
	opacity: .1;
	z-index: 2;
	float: right;
/*	padding-top: 20px;
	padding-right:5%;*/
	height: 50px;
	position: absolute;
	bottom: 10px;
	right: 60px
}

a {
	text-decoration: none;
	color:#FFFFFF;
}

.Button{
	padding-left:10%;
	display:inline;
	font-family: 'Slabo 27px', serif;
}

#home { 
  background: url(gloves2.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1400px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url(desk.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1500px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#services { 
  background: url(breakfast.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1500px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#services article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#contact { 
  background: url(uber.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1600px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#contact article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

.inner_wrapper {
	padding: 30px;
	margin: 0px auto;
	width: 600px;
}

footer {
	width: 100%;
	margin: 0px;
	background-color: #000000;
	color:#FFFFFF;
	height:70px;
	opacity: .85;
	-webkit-box-shadow: 10px 0px 10px rgba(0,0,0,0.8);
  box-shadow: 10px 0px 10px rgba(0,0,0,0.8);
	position: relative;
	bottom: 0px;
}



#contact{
	display: inline-block;
}


