body{
	margin:0px 0px;
	
}
.bannerText{
	font-family: 'Slabo 27px', serif;
	font-weight:100;
}
.container{
	max-width:100%;
}
.banner{
	background-color: #000000;
	color:#FFFFFF;
	height:40px;
	padding-left:20%;
}
.bannerText{
	float:left;
	clear:left;
	margin:0px 0px;
}
.whiteSpace{
	background-color: rgba(255, 255, 255, 0);
	height:5px;
}
.nav{ 
	background-color: #000000;
	height:20px;
}
.logo{
	float:right;
	clear:right;
	padding-right:20%;
	padding-top:5px;
	height:30px;
	width:auto;
	z-index:1;
}
a{
	text-decoration: none;
	color:#FFFFFF;
}
.Button{
	padding-left:10%;
	display:inline;
	font-family: 'Slabo 27px', serif;
}
.back {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    position:fixed;
}

#homeh2{
	background-color: rgba(115, 115, 115,.5);
	color: rgb(255,255,255);
	width: 22%;
	font-size: .75em;
	margin-left:57%;
	margin-top: 26.5%;
	border-radius: 4px;

}


#img010figc { 
    display: inline;
    background-color: rgba(255, 255, 255, .5);
    margin-left:57%;

}

#img010{
	padding: 10px;
	background-color: rgba(255, 255, 255, .5);
	margin-left:57%;

}

#contact{
	display: inline-block;
}


